body{
    width: 960px;
    margin: 0 auto;
}
nav{

    padding: 25px;
}
section{
    clear: both;
}
h1{
    padding: 10px;

}


h2{

}

/******* header all pages css ********/
.pghdr-name{
    background-color: #4aaaa5; 
    color: white;
    display: inline-block;
    float: left;
    padding: 10pts;
}
.pghdr-links{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: inline-block;
    float: right;
    
}
.pghdr-links a{
    padding: 10px;
}

/******** content section basic css ********/
.cnt-hdr{
    background-color: white;
}

.cnt-bdy{

}

* Teal color (used for headings and backgrounds): background-color: `#4aaaa5`; /* teal */
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`